<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>班级人员管理</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/icon.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js"></script>

{load href="/quantification/public/static/admin/js/jquery.edatagrid.js" /}

</head>
<body>
    <div style="margin-bottom:10px" id="tb">
        <a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('addRow')"  data-options="iconCls:'icon-add',plain:true">添加</a>
        <a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('saveRow')"  data-options="iconCls:'icon-save',plain:true">保存</a>
        <a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('cancelRow')"  data-options="iconCls:'icon-cancel',plain:true">修改</a>
        <a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('destroyRow')"  data-options="iconCls:'icon-remove',plain:true">删除</a>
    </div>
    <table id="tt" class="easyui-datagrid" style="width:980px;height:400px"
            title="班级人员" iconCls="icon-save"
            rownumbers="true"
            url="{:url('admin/Index/classStaff1')}"
            singleSelect="true" >
             <!-- url="datagrid_data.json" -->
             <!-- pagination="true" 后面加上分页功能-->
        <thead >
            <tr>

                <th field="ck" checkbox="true"></th>
                <th field="Id" width="200" editor="{type:'validatebox',options:{required:true}}" align="center">ID</th>
                <th field="grade" width="200" editor="text" align="center" editor="{type:'validatebox',options:{required:true}}">年级</th>
                <th field="major" width="150" align="center" editor="{type:'validatebox',options:{required:true}}">专业</th>
                <th field="classes" width="200" align="center" editor="{type:'validatebox',options:{required:true}}">班级</th>
                <th field="remark" width="250" editor="text" align="center" editor="{type:'validatebox',options:{required:true}}">备注</th>
            </tr>
        </thead>
    </table>
</body>
</html>

<script type="text/javascript">
    $('#tt').datagrid({

        toolbar:'#tb'

    });
</script>


<script type="text/javascript">
     $(function(){
     $("#tt").edatagrid({
          // url:'../dist/data/datagrid_data.json',
          title:'Load Data',//标题
          idField:'id',
          iconCls:'icon-save',//标题左边的图标
          fitColumns:true,//固定列
          rownumbers:true,//显示行号
          showFooter:true,//显示行脚
         pagination:true,
         toolbar:'#tb',//定义工具栏
        singleSelect:true,
         onHeaderContextMenu: function(e, field){ //设置语境菜单   可以动态控制显示那些列不显示那些列
            e.preventDefault();
            if (!cmenu){
                 createColumnMenu();
             }
             cmenu.menu('show', {
                 left:e.pageX,
                 top:e.pageY
             });
            }

addRow :  function(index){
          alert('我是addrow');
}


/////////////////////////////////////////////进行增删改查代码
    var editcount = 0;

    //添加栏目
    function addRow(index){
        alert('我是addrow');
    }

    //保存栏目
    function saveRow(index){
         alert('saveRow');
            $('#tt').datagrid('cancelEdit',index);
    }

    //修改栏目
    function cancelRow(index){
   alert('cancelRow');
    }

    //删除栏目
    function destroyRow(index){
         alert('destroyRow');
        $.messager.confirm('确认','是否真的删除',function(r){
                if (r) {
                   $('#tt').datagrid('deleteRow',index);
                }
        });
    }

  });
});


 function editing(){
     var row = $('#tt').datagrid('getSelected');
     if (row){
         /*
            默认情况下row.productStartDate是毫秒值，而修改的时候需要2011/11/11这样的字符串，所以在此转换
         */
         var date = new Date(row.productStartDate);
         row.productStartDate = (date.getMonth()+1)+"/"+date.getDate()+"/"+date.getFullYear();
        var index = $("#tt").edatagrid("getRowIndex",row);
         $('#tt').edatagrid('editRow',index);
     }
}






//
</script>


<script type="text/javascript">
        $(function(){
            $('#tt').datagrid({
               //参考网址:http://www.cnblogs.com/wintalen/archive/2011/06/10/2077164.html
                // toolbar:[{
                //     text:'增加',
                //     iconCls:'icon-add',
                //     handler:addrow
                // },{
                //     text:'保存',
                //     iconCls:'icon-save',
                //     handler:saveall
                // },{
                //     text:'取消',
                //     iconCls:'icon-cancel',
                //     handler:cancelall
                // }],//工具栏

        //         onBeforeEdit:function(index,row){
        //             row.editing = true;
        //             $('#tt').datagrid('refreshRow', index);
        //             editcount++;
        //         },
        //         onAfterEdit:function(index,row){
        //             row.editing = false;
        //             $('#tt').datagrid('refreshRow', index);
        //             editcount--;
        //         },
        //         onCancelEdit:function(index,row){
        //             row.editing = false;
        //             $('#tt').datagrid('refreshRow', index);
        //             editcount--;
        //         }
        //     }).datagrid('loadData',users).datagrid('acceptChanges');
        // });
        // var editcount = 0;
        // function editrow(index){
        //     $('#tt').datagrid('beginEdit', index);
        // }

        function deleterow(index){
            $.messager.confirm('确认','是否真的删除?',function(r){
                if (r){
                    $('#tt').datagrid('deleteRow', index);
                }
            });
        }

        function saverow(index){
            $('#tt').datagrid('endEdit', index);
        }

        function cancelrow(index){
            $('#tt').datagrid('cancelEdit', index);
        }

        function addrow(){
            alert('sdddddddddddddd');
            if (editcount > 0){
                $.messager.alert('警告','当前还有'+editcount+'记录正在编辑，不能增加记录。');
                return;
            }
 alert('1111111111111111111');
            $('#tt').datagrid('appendRow',{
                no:'',
                name:'',
                addr:'',
                email:'',
                birthday:''
            });

        }

        function saveall(){
            $('#tt').datagrid('acceptChanges');
        }

        function cancelall(){
            $('#tt').datagrid('rejectChanges');
        }
    </script>
