<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>班级人员管理</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/icon.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js"></script>

{load href="/quantification/public/static/admin/js/jquery.edatagrid.js" /}
{load href="/quantification/public/static/easyui/locale/easyui-lang-zh_CN.js" /}
</head>


<body>
    <div style="margin-bottom:10px;padding:5px;" id="tb">
        <a href="#" class="easyui-linkbutton" onclick="obj.add();"  data-options="iconCls:'icon-add',plain:true">添加</a>
        <!-- plain:true 按钮扁平化-->
        <a href="#" class="easyui-linkbutton" onclick=""  data-options="iconCls:'icon-edit',plain:true">修改</a>
        <a href="#" class="easyui-linkbutton" onclick=""  data-options="iconCls:'icon-remove',plain:true">删除</a>
        <a href="#" class="easyui-linkbutton" onclick="obj.save()"  data-options="iconCls:'icon-save',plain:true" style="display: none;" id="save">保存</a>
        <a href="#" class="easyui-linkbutton" onclick="obj.redo()"  data-options="iconCls:'icon-redo',plain:true" style="display: none;" id="redo">取消编辑</a>
    </div>

    <table id="tt" class="easyui-datagrid" style="width:980px;">

    </table>
</body>
</html>


<script type="text/javascript">
$(function(){

obj ={
  editRow : false,//设置变量默认值
//   // search: function (){
//   //   $('#box').datagrid('load',{
//   //     user:$.trim($('input[name="user"]').val()),
//   //     data_from:$('input[name="date_from"]').val(),
//   //     data_to:$('input[name="date_to"]').val(),
//   //   });
//   // },

  add: function(){
    $('#save,#redo').show();//显示出来-------
    if (!this.editRow) {

     this.editRow = true;//设置在下面会失去
    $('#tt').datagrid('insertRow', {
          index : 0,
        });
alert(1);
  $('#tt').datagrid('beginEdit', 0);


    }


},
        // save:function(){

        // },

    redo:function(){
      alert('sdddddddd');
      $('#save,#redo').hidden();
        this.editRow = false;
        $('#box').datagrid('rejectChanges');
    },


};



      $('#tt').datagrid({
        width:980,
        //height:不设让它自适应
        title:"班级人员" ,
        url:"{:url('admin/Index/classStaff1')}",
        iconCls:'icon-save',
        //自适应
        striped:true,
        nowrap:true,
        //
        rownumbers:true,//显示行号
        singleSelect:true,//只是选中一行  设置表头字段
        columns : [[
              {
                field:'Id'，
              title:'ID'
              width:100,//不写自适应
              // sortable:true,//字段排序
              // align:'center',//居中
              },
              {
                field:'grade',
                title:'年级',
                width:100
                // sortable:true,
                // align:'center',
              },
              {
                field:'major',
                title:'专业',
             width:100,
                // sortable:true,
                // align:'center',
              },
              {
                field:'classes',
                title:'班级',
                          width:100,
                // sortable:true,
                // align:'center',
              },
              {
                field:'remark',
                title:'备注'，
                          width:100,
                // sortable:true,
                // align:'center',
              },
        ]],
        pagination:true,//分页功能
        pageSize:10,//每页显示条数
        pageList : [10, 15, 20],//可选择的分页
        pageNumber : 1,//默认初始化页码
        pagePosition : 'bottom',//分页的位置
        /*
        // sortName:'date',//排序字段
        // sortOrder:'DESC',//排序的顺序
        // 服务器端排序
        */

    });

})

</script>


<!--
        <thead>
            <tr>
                <th field="Id" width="200" editor="{type:'text',options:{required:true}}" align="center">ID</th>
                <th field="grade" width="200" editor="text" align="center" editor="{type:'validatebox',options:{required:true}}">年级</th>
                <th field="major" width="150" align="center" editor="{type:'validatebox',options:{required:true}}">专业</th>
                <th field="classes" width="200" align="center" editor="{type:'validatebox',options:{required:true}}">班级</th>
                <th field="remark" width="250" editor="text" align="center" editor="{type:'validatebox',options:{required:true}}">备注</th>
            </tr> -->
            <!-- type:'validatebox', -->
        <!-- </thead> -->
