<!DOCTYPE HTML>

<html>
	<head>
		<title>联系我们</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		{load href="/quantification/public/static/contact/css/skel-noscript.css" /}
		{load href="/quantification/public/static/contact/css/style.css" /}

		{load href="/quantification/public/static/contact/js/jquery.min.js" /}
		{load href="/quantification/public/static/contact/js/jquery.poptrox.min.js" /}
		{load href="/quantification/public/static/contact/js/skel.min.js" /}
		{load href="/quantification/public/static/contact/js/init.js" /}

		

		<noscript>
				
		</noscript>
		
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<h1>量化管理系统</h1>
					<p>千行工作室</p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly scrolly-centered">继续了解我们</a>
				</footer>
			</section>
		
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>千行工作室</h2>
				</header>
				<p>
				在那山的那边海的那边有一群蓝精灵</br> 
				他们活泼又聪明</br> 
				他们调皮又灵敏 </br>
				他们自由自在生活在那绿色的大森林</br> 
				他们善良勇敢相互关心</br> 
				欧，可爱的蓝精灵 </br>
				可爱的蓝精灵！ </br>
				他们齐心协力开动脑筋斗败了格格巫 </br>
				他们唱歌跳舞快乐又欢欣 <br>
				
				
				</p>
				<footer>
					<a href="#first" class="button style2 scrolly">Produced by</a>
				</footer>
			</section>
		
		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a href="" class="image full"><img src="/quantification/public/static/contact/images/pic01.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>孙肖宁</h2>
						
					</header>
					<p>QQ：111111</br>
					TEL:11111</p>
				</div>
			</article>
		
		<!-- Feature 2 -->
			
			<article id="second" class="container box style1 left">
				<a class="image full"><img src="/quantification/public/static/contact/images/pic02.jpg" alt="" /></a>

				<div class="inner">
					<header>
						<h2>许震<br />
						</h2>
					</header>
					<p>QQ：111111</br>
					TEL:11111</p>
				</div>
				
			</article>
		<!-- Feature 3-->
		<article id="third" class="container box style1 right">
				<a class="image full"><img src="/quantification/public/static/contact/images/pic01.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>张海燕</h2>
						
					</header>
					<p>QQ：111111</br>
					TEL:11111</p>
				</div>
				
			</article> 

			<!-- Feature 4 -->
			<article id="fourth" class="container box style1 left">
				<a class="image full"><img src="/quantification/public/static/contact/images/pic02.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>刘娇娇<br />
						</h2>
					</header>
					<p>QQ：855555</br>
					TEL:133333</p>
				</div>
			</article>

		<!-- Portfolio -->
			<article class="container box style2">
				<header>
					<h2>欢迎加入我们</h2>
					<p>
					如果你对网站制作感兴趣<br />
					如果你对嵌入式感兴趣<br />
					如果你对ACM感兴趣<br />
					如果你对语言感兴趣<br />
					
					如果你对。。。<br />
					欢迎加入我们</br>
					</p>
				</header>
				<div class="inner gallery">
					<div class="row flush">
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/01.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/01.jpg" alt="" title="Ad infinitum" /></a></div>
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/02.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/02.jpg" alt="" title="Dressed in Clarity" /></a></div>
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/03.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/03.jpg" alt="" title="Raven" /></a></div>
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/04.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/04.jpg" alt="" title="I'll have a cup of Disneyland, please" /></a></div>
					</div>
					<div class="row flush">
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/05.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/05.jpg" alt="" title="Different." /></a></div>
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/06.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/06.jpg" alt="" title="Different." /></a></div>
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/07.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/07.jpg" alt="" title="History was made here" /></a></div>
						<div class="3u"><a href="/quantification/public/static/contact/images/fulls/08.jpg" class="image full"><img src="/quantification/public/static/contact/images/fulls/08.jpg" alt="" title="People come and go and walk away" /></a></div>
					</div>
				</div>
			</article>
		
		<!-- 联系方式
			<article class="container box style3">
				<header>
					<h2>Nisl sed ultricies</h2>
					<p>Diam dignissim lectus eu ornare volutpat orci.</p>
				</header>
				<form>
					<div class="row half">
						<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
						<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
					</div>
					<div class="row half">
						<div class="12u">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><a href="#" class="button form">Send Message</a></li>
							</ul>
						</div>
					</div>
				</form>
			</article> -->
		
		
		

	</body>
</html>