{include file="../public/static/head.html" /}

{load href="/quantification/public/static/admin/Index/class_staff.js" /}
</head>
<style type="text/css">

    body{
        padding: 20px;

    }
</style>

<body>
    <div style="margin-bottom:10px;padding:5px;" id="tb">
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-add',plain:true"  onclick="obj.add();">添加</a><!-- plain:true 按钮扁平化-->
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-edit',plain:true" onclick="obj.edit()">修改</a>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-remove',plain:true" onclick="obj.remove()">删除</a>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-save',plain:true"  onclick="obj.save()" style="display: none;" id="save">保存</a>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-redo',plain:true"   onclick="obj.redo()" style="display: none;" id="redo">取消编辑</a>
        <input type="hidden" id="classid" name="classid" value="{$classid}"><!--- 隐藏域传递ID-->
    </div>
    <table id="tt" class="easyui-datagrid" style="width:980px;">
    </table>
</body>
</html>

