<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>班级人员管理</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.net/Public/js/easyui/themes/icon.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js"></script>

{load href="/quantification/public/static/admin/js/jquery.edatagrid.js" /}
{load href="/quantification/public/static/easyui/locale/easyui-lang-zh_CN.js" /}

</head>
<!-- <script type="text/javascript" src="/quantification/public/static/admin/Index/committee.js"></script> -->

<body>
<div style="margin-bottom:10px;padding:5px;" id="tb">
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-edit',plain:true"  onclick="select()" id="edit">选择</a>
        <span id="cd"></span>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-save',plain:true"  onclick="edit()" style="display: none;" id="save">修改</a>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-redo',plain:true"   onclick="redo()" style="display: none;" id="redo">取消编辑</a>
        <input type="hidden" id="classid" name="classid" value="{$classid}"><!--- 隐藏域传递ID-->
        <input type="hidden" id="committeeid" name="committeeid" value=""><!--- 隐藏域传递ID-->
    </div>

    <table id="pg" style="width:300px"></table>
</body>
</html>

<script type="text/javascript">










 //选择
  function select(){
  $("#save,#redo").toggle();//显示和隐藏
  $('#cd').empty();
    $('#cd').append('<input id="cc" name="dept" value="----">');

    $('#cc').combobox({
    url:'comBobox?classid='+$('#classid').val(),
    valueField:'id',
    textField:'text'
    });

  }

  //修改
  function edit(){

     $.ajax({
                   type: "post",
                   url: "updateComm",
                   data: {
                  student_id: $("#cc").val(),//获取下拉框有问题
                  committeeid:$('#committeeid').val(),
                            },
                    dataType: "json",
                      success : function (data) {
                        $("#save,#redo").toggle();//显示和隐藏
                        console.log(data);

                          if (data) {
                            $.messager.show({
                              title : '提示',
                              msg : '所选用户被删除成功！',
                            });
                           }
                      },
                  });

  }


  //取消编辑
  function redo(){
  $("#save,#redo").hide();//显示和隐藏

  }



$(function(){




  $('#cc').hide();

//////////////////////////////////////////////////ajax预加载
                   $.ajax({
                   type: "post",
                   url: 'commDetails',
                   data: {
                 classid: $('#classid').val()
                            },
                    dataType: "json",
                      success : function (data) {
                              if (data.code == '200') {
                               var data = data.data;
                              //属性表格
                              $('#pg').propertygrid({
                            showGroup: true,
                            scrollbarSize: 0,
                            columns:[[
                                {
                                  field:'name',title:'属性',width:150,resizable:true
                                },
                                {
                                  field:'value',title:'取值',width:150,resizable:true
                                }
                                ]]
                          });
                            $('#pg').datagrid('loadData',{total:0,rows:[]});//清空数据

            var rows = [
                {"name":"学号","value":data.nt_number,"group":"量化委员信息","editor":"text"},
                {"name":"姓名","value":data.nt_name,"group":"量化委员信息","editor":"text"},
                {"name":"性别","value":data.nt_sex,"group":"量化委员信息","editor":"text"},
                {"name":"身份证号码","value":data.nt_idnumber,"group":"量化委员信息","editor":"text"},
                {"name":"备注","value":data.nt_remarks,"group":"量化委员信息","editor":"text"}
                ];

                            $('#pg').propertygrid('loadData', rows);
                            //添加一个隐藏id的隐藏域
                            $('#committeeid').val(data.Id);
                      }

                    },

                  });
//////////////////////////////////////////////////ajax预加载



});



</script>
