<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>量化饼图</title>

</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>

</body>
</html>
    <!-- 引入 echarts.js -->
    {load href="/quantification/public/static/admin/echarts-2.2.7/build/dist/echarts-all.js" /}


<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text: '每月量化情况',

        x:'left'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['第一周','第二周','第三周','第四周']
    },
    series : [
        {
            name: '本月量化情况',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'第一周'},
                {value:310, name:'第二周'},
                {value:234, name:'第三周'},
                {value:135, name:'第四周'},

            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

