{include file="../public/static/head.html" /}
<style type="text/css">
    body{
        padding: 20px;
    }
    tr{
      height: 35px;
    }
    td{
      padding: 5px;
    }
</style>

</head>
<body>
    <div class="easyui-panel" title="New Topic" style="width:400px">
		<div style="padding:10px 60px 20px 60px">
	    <form id="self" method="post" action="{:url('Admin/Index/revisePwd')}">
	    	<table >

	    		<tr>
	    			<td>原密码:</td>
	    			<td><input class="easyui-textbox" type="password" name="oldpassword" data-options="required:true"></input></td>
	    		</tr>


	    		<tr>
	    			<td>新密码:</td>
	    			<td>
	    				<input class="easyui-textbox easyui-validatebox" type="password" name="password" id="pwd" data-options="required:true"></input>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>确认新密码:</td>
	    			<td>
	    				<input class="easyui-textbox easyui-validatebox" type="password" name="newpassword" id="rpwd" validType="equals['#pwd']"  data-options="required:true"></input>
	    			</td>
	    		</tr>
	    	</table>
	    </form>
	    <div style="text-align:center;padding:5px;margin-left: -50px;">
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="margin-right: 15px;">提交</a>
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
	    </div>
	    </div>
	</div>
{load href="/quantification/public/static/Secretary/js/password.js" /}

</body>
</html>

