

{include file="../public/static/head.html" /}


<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px;width: 800px"></div>
 <input type="hidden" id="classid" name="classid" value="{$classid}"><!--- 隐藏域传递ID-->

</body>
</html>
<!-- ECharts单文件引入 -->

{load href="/quantification/public/static/admin/echarts-2.2.7/build/dist/echarts-all.js" /}
<style type="text/css">

    body{
        padding: 20px;
    }
</style>

     <script type="text/javascript">

         $.ajax({
         type : "post",
         async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
         url : "weeklyDetails",    //请求发送到TestServlet处
         data : {
        classid:$('#classid').val()
         },
         dataType : "json",        //返回数据形式为json
         success : function(result) {
             //请求成功时执行该函数内容，result即为服务器返回的json对象
             var nums = [];
             if (result) {

                    for(var i=0;i<result.length;i++){
                        nums.push(result[i]);    //挨个取出销量并填入销量数组
                      }
                      console.log(nums);
//////////////////////////////////////////////////////////////////////////////////////////////////////////
    var myChart = echarts.init(document.getElementById("main"));
    var option = {
        title : {
            text: '量化变化',

        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['本周量化情况']
        },
        //右上角工具条
        toolbox: {
            show : true,
            feature : {

                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLabel : {
                    formatter: '{value} '
                }
            }
        ],
        series : [

            {
                name:'本周量化',
                type:'line',
               data:nums,
                markPoint : {
                    data : [
//                        {name : '周最低', value : -2, xAxis: 1, yAxis: -1.5}
  //                      {type : 'min', name: '周最低'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name : '平均值'}
                    ]
                }
            }
        ]
    };

    // 为echarts对象加载数据
    myChart.setOption(option);





      //////////////////////////////////////////////////////////////////////////////////////////////////
      }
                    },



         error : function(errorMsg) {
             //请求失败时执行该函数
         alert("图表请求数据失败!");
         myChart.hideLoading();
         }

    })


　　</script>




