<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>潍坊科技学院量化系统登录</title>


<!-- bootstrap -->
<link rel="stylesheet" href="\quantification\public\static\bootstrap\css\bootstrap.min.css">


<script src="\quantification\public\static\bootstrap\js\bootstrap.min.js"></script>
<!-- bootstrap -->


<link href="\quantification\public\static\index\css\404.css" rel="stylesheet" type="text/css" />
<link href="\quantification\public\static\index\css\datouwang.css" rel="stylesheet" type="text/css">

<link href="\quantification\public\static\index\css\index.css" rel="stylesheet" type="text/css">


<script src="\quantification\public\static\index\js\jquery.min.js"></script>
<script src="\quantification\public\static\index\js\index.js"></script>

</head>
<body>






<!-- 代码 开始 -->
<div class="mianBox">
    <img src="\quantification\public\static\index\img\login\yun0.png" alt="" class="yun yun0" />
    <img src="\quantification\public\static\index\img\login\yun1.png" alt="" class="yun yun1" />
    <img src="\quantification\public\static\index\img\login\yun2.png" alt="" class="yun yun2" />
    <img src="\quantification\public\static\index\img\login\bird.png" alt="" class="bird" />
    <img src="\quantification\public\static\index\img\login\san.png" alt="" class="san" />

</div>


<div class="divstyle"></div>

        <form id="login">

                     <h1>登录</h1>

                        <fieldset id="inputs">



  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">

      $</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
<!--
                        <i class="icono-pin"></i>
                            <input id="username" type="text" placeholder="请填：书记/老师/学生/管理员" autofocus required>
                            <i class="icono-user"></i>
                            <input id="name" type="text" placeholder="帐号" autofocus required>
                            <i class="icono-codepen"></i>
                            <input id="password" type="password" placeholder="密码" required>
                            <div>
                            <i class="icono-exclamationCircle"></i>
                                <input id="identity" type="text" placeholder="验证码" autofocus required style="width:150px;">
                                <input type="text"  id="identity-photo" style="width:150px"/>
                            </div> -->
                        </fieldset>


                        <fieldset id="actions">
                            <input type="submit" id="submit" value="登录">
                            <a href="">忘记密码?</a>
                        </fieldset>

        </form>
<div class="divstyle">
</div>
</body>
</html>

