<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>潍坊科技学院量化系统登录</title>


<!-- bootstrap -->
<link rel="stylesheet" href="\quantification\public\static\bootstrap\css\bootstrap.min.css">


<script src="\quantification\public\static\index\js\jquery.min.js"></script>
<script src="\quantification\public\static\index\js\index.js"></script>

<script src="\quantification\public\static\bootstrap\js\bootstrap.min.js"></script>
<!-- bootstrap -->


<link href="\quantification\public\static\index\css\404.css" rel="stylesheet" type="text/css" />
<link href="\quantification\public\static\index\css\datouwang.css" rel="stylesheet" type="text/css">

<link href="\quantification\public\static\index\css\index.css" rel="stylesheet" type="text/css">




</head>
<body>

<style type="text/css">
#identify_pic{
  cursor:pointer;
}
#identify{
   width: 150px;
}

</style>


<!-- 代码 开始 -->
<div class="mianBox">
    <img src="\quantification\public\static\index\img\login\yun0.png" alt="" class="yun yun0" />
    <img src="\quantification\public\static\index\img\login\yun1.png" alt="" class="yun yun1" />
    <img src="\quantification\public\static\index\img\login\yun2.png" alt="" class="yun yun2" />
    <img src="\quantification\public\static\index\img\login\bird.png" alt="" class="bird" />
    <img src="\quantification\public\static\index\img\login\san.png" alt="" class="san" />

</div>


<div class="divstyle"></div>

                <form id="login" method="post" action="{:url('Index/Index/login')}">
<!--   -->
                             <h1>登录</h1>

                         <fieldset id="inputs">

          <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">角色</label>
            <div class="input-group">
              <div class="input-group-addon">

        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
              </div>
              <select class="form-control" id="role" name="role">
                        <option selected>&nbsp;&nbsp;&nbsp;&nbsp;请选择</option>
                        <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;学生</option>
                        <option value="1">&nbsp;&nbsp;&nbsp;&nbsp;超级管理员</option>
                        <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;管理员</option>
                        <option value="3">&nbsp;&nbsp;&nbsp;&nbsp;量化委员</option>
                        <option value="4">&nbsp;&nbsp;&nbsp;&nbsp;学生会</option>
                        <option value="5">&nbsp;&nbsp;&nbsp;&nbsp;门户维护员</option>
        </select>
                  </div>
          </div>

           <div class="form-group">
            <label class="sr-only" for="username">账号</label>
            <div class="input-group">
              <div class="input-group-addon">

        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </div>
              <input type="text" class="form-control easyui-validatebox" id="username"  name="username" placeholder="账号" required="true"  invalidMessage= "请按要求填写账号!"
   size="10">
                  </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="password">密码</label>
            <div class="input-group">
              <div class="input-group-addon">

        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </div>
              <input type="password" class="form-control easyui-validatebox" id="password" name="password" placeholder="密码"  required="true"  invalidMessage= "请按要求填写密码!"
    validType="length[6,20]">
                  </div>
          </div>

            <div class="form-group">
            <label class="sr-only" for="identify">验证码</label>
            <div class="input-group">
              <div class="input-group-addon">

        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
              </div>
              <input type="text" class="form-control easyui-validatebox" id="identify"  name="check" placeholder="验证码"   required="true"  invalidMessage= "请按要求填写验证码!"
    validType="length[4,5]">
              <div><img src="{:captcha_src()}"  id="identify_pic" alt="captcha" onclick="this.src='{:captcha_src()}?'+Math.random()" title="点击更换" /></div>
                  </div>
          </div>

                        </fieldset>

                        <fieldset id="actions">
                            <input type="submit" id="submit" value="登录">
                            <a href="">忘记密码?</a>
                        </fieldset>

        </form>
<div class="divstyle">
</div>
</body>
</html>


<script type="text/javascript">
//禁止回车自动提交
$('.form-control').keypress(function(e){
            if(e.keyCode==13){
                e.preventDefault();
            }



$('#submit').click(function(){
// alert('sdsdds');
  var username = password = role = identify = false;
  if ($('#username').val()!='') {
    username = true;
  }
  if ($('#password').val()!='') {
    password = true;
  }
  if ($('#role').val()!='') {
    role = true;
  }
  if ($('#identify').val()!='') {
    identify = true;
  }

if (username && password && role && identify ) {
// alert('assasa');

$('#login').submit();

//                  $.ajax({
//                    type: "post",
//                    url: "Index/index/login",
//                    data: {
//                     username:$('#username').val(),
//                     password:$('#password').val(),
//                     role:$('#role').val(),
//                     check:$('#identify').val()
//                             },
//                     dataType: "json",
//                     success : function (data) {
//                           if (data) {
//                                alert(data);
//                               }else{
//                             alert('error');
//                           console.log(data);
//                               }
//                       }
//                   });


// alert('end');
}



});










</script>
