
{include file="../public/static/head.html" /}


    <style>
li{
   margin:6px;
}

</style>

</head>
<body>

      <!--容器-->
      <div id='box' class="easyui-layout" style="height:800px;margin:50px;">

            <!--上部-->
            <div id='north' data-options="region:'north',iconCls:'icon-ok',title:'欢迎来到中印计算机软件学院量化管理系统'" style="height:200px;">
                  <!--logo-->
                  <div id=north-left>
                        <div id='logo'></div>
                        <div id="time"></div>
                  </div>
                  <!--图片-->
                  <div id="photo"></div>

            </div>


            <!--下部-->
            <div data-options="region:'south',title:''" style="height:100px;">

            </div>

            <!--左-->
            <div id="west" data-options="region:'west',iconCls:'icon-man',title:'班主任',split:true" style="width:200px;">
                  <!--折叠菜单-->
                  <div id="aa" class="easyui-accordion" style="height:auto" >
                        <!--菜单项-->
                        <div title="班级人员管理" data-options="iconCls:'icon-edit'" style="padding:10px;">
                              <ul>
                              <!-- 根据管理班级进行添加-->

                                 <li><a href="#" class="easyui-linkbutton" onclick="addTab('委员','Committee?id=2121')">嘿12121嘿</a></li>
                                </ul>
                        </div>
                         <div title="量化委员管理" data-options="iconCls:'icon-edit'">
                              <ul>
                                <!-- 根据管理班级进行添加-->

                                 <li><a href="#" class="easyui-linkbutton" onclick="addTab('委员','Committee?id=212')">嘿嘿</a></li>

                                </ul>

                        </div>
                         <div title="班级量化管理" data-options="iconCls:'icon-edit'" style="padding:10px;">
                                  <ul>
                                <!-- 根据管理班级进行添加-->

                                 <li><a href="#" class="easyui-linkbutton" onclick="addTab('委员11','Committee?id=221')">哈哈</a></li>

                                </ul>

                        </div>
                        <div title="上周量化管理" data-options="iconCls:'icon-edit'" style="padding:10px;">
                              <ul>
                                <!-- 根据管理班级进行添加-->



                             </ul>
                        </div>
                        <div title="上月量化管理" data-options="iconCls:'icon-edit'" style="padding:10px;">
                              <ul>





                             </ul>
                        </div>
                  </div>
            </div>


            <!--中间-->
            <div id="mainPanle" data-options="region:'center'"  style="padding:5px;background:#eee;filter:alpha(opacity:90); opacity:0.9; -moz-opacity:0.9;-khtml-opacity: 0.9;width:auto;">
                  <!--选项卡-->
                  <div id="tt" class="easyui-tabs" data-options="" style="height:490px;">
                        <div title="主目录" style="height:auto" id="home">
                              <div style="">欢迎使用中印计算机软件学院量化管理系统</div>
                        </div>

                  </div>

            </div>
      </div>


</body>
</html>

   <script>



      function addTab(title, url){
         if ($('#tt').tabs('exists', title)){
            $('#tt').tabs('select', title);
         } else {
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
            $('#tt').tabs('add',{
               title:title,
               content:content,
               closable:true,

            });
         }
      }

      $('#tt').tabs({
            fit:true,
         });

   </script>
