

{include file="../public/static/head.html" /}
{load href="/quantification/public/static/secretariat/Index/auditquan.js" /}

 <style>
	.datagrid-body,.datagrid-header-inner,.datagrid-toolbar{
		background-color: #fff;

	}
	.panel-header ,.panel-with-icon{
		background: #eff5ff;
		border-color: #95b8e7;

	}
	.datagrid-header{
		background: #eff5ff;
		}
	td,tr{
		color:black;
	}

 	.datagrid-cell-c1-no{

 		color:black;
 	}

	.panel-title{
		color:blue;
	}
	span{
		color:black;

	}
 </style>

<style type="text/css">
	    body{
        padding: 20px;
    }

</style>


</head>
<body>

<table id="tt"></table>
</body>
</html>
