{include file="../public/static/head.html" /}
{load href="/quantification/public/static/student/Index/js/self.js" /}
<style type="text/css">
    body{
        padding: 20px;
    }
    tr{
      height: 35px;
    }
    td{
      padding: 5px;
    }
</style>

</head>
<body>
    <div class="easyui-panel" title="修改信息" style="width:400px">
      <div style="padding:10px 60px 20px 60px">
       <form id="self" method="post" action="{:url('Student/Index/reviseMessage')}">
        <input type="hidden" value="{$info.nt_sex}" id="sex">
         <table >
            <tr>
               <td>姓名:</td>
               <td><input class="easyui-textbox" type="text" name="name" data-options="required:true" value="{$info.nt_name}" ></input></td>
            </tr>
            <tr>
               <td>工号:</td>
               <td><input class="easyui-textbox" type="text" name="number" data-options="required:true" value="{$info.nt_number}" >  </input></td>
            </tr>
            <tr>
               <td>邮箱:</td>
               <td><input class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'" value="{$info.nt_email}" ></input></td>
            </tr>


            <tr>
               <td>sex:</td>
               <td>
                  <input name="sex" type="radio" value="0" id="man" />男&nbsp;&nbsp;
                  <input name="sex" type="radio" value="1" id="woman"/>女
               </td>
            </tr>

         </table>
       </form>
       <div style="text-align:center;padding:5px;margin-left: -50px;">
         <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="margin-right: 15px;">提交</a>
         <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>

       </div>
       </div>
   </div>


</body>
</html>
