{include file="../public/static/head.html" /}
{load href="/quantification/public/static/studentunion/js/examine.js" /}

</head>
 {php}
  $class =json_encode($class);
{/php}
<body>
<div id="hiddenban" style="display:none;">{$class}</div>
    <div style="margin-bottom:10px;padding:5px;" id="tb">
        <a href="#" class="easyui-linkbutton" onclick="obj.edit()"  data-options="iconCls:'icon-edit',plain:true">修改</a>
        <a href="#" class="easyui-linkbutton" onclick="obj.remove()"  data-options="iconCls:'icon-remove',plain:true">删除</a>
        <a href="#" class="easyui-linkbutton" onclick="obj.save()"  data-options="iconCls:'icon-save',plain:true" style="display: none;" id="save">保存</a>
        <a href="#" class="easyui-linkbutton" onclick="obj.redo()"  data-options="iconCls:'icon-redo',plain:true" style="display: none;" id="redo">取消编辑</a>
    </div>

    <table id="tt" class="easyui-datagrid" style="width:980px;">
    </table>
</body>
<script>
var val = $('#hiddenban').text();
</script>
</html>



